body {
    width: 400px;
    height: 270px;
    background-color: black;
    color: red;
    border: solid;
}

button {
    font-size: 16px;
    height: 40px;
    color: red;
    width: 75%;
    margin-left: 12%;
}

.input-container {
    font-size: 16px;
    width: 90%;
    padding: 10px;
    margin: auto;
}

.header {
    font-size: 16px;
    margin: auto;
    width: 100%;
    text-align: center;
    padding-top: 30px;
}

.footer {
    font-size: 16px;
    font-style: italic;
    color: antiquewhite;
    margin: auto;
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
}

a {
    color: #ff9200;
}

input {
    margin-left: 27%;
}