@font-face {
    font-family: 'Righteous-Regular';
    src: URL('assets/Righteous-Regular.ttf') format('truetype');
}

body {
    width: 400px;
    height: 360px;
    background-color: white;
    border: solid 10px red;
    margin: auto;
    padding: 0%;
}

button {
    font-size: 24px;
    font-family: 'Righteous-Regular';
    height: 40px;
    color: white;
    width: 75%;
    margin-left: 12%;
    border: 0px;
    border-radius: 10px;
    background-color: red;
}

.input-container {
    font-size: 16px;
    font-family: 'Righteous-Regular';
    width: 90%;
    padding: 3px;
    margin: auto;
}

.header {
    font-size: 25px;
    font-family: 'Righteous-Regular';
    margin: auto;
    width: 100%;
    text-align: center;
    color: black;
}


.header label {
    font-size: 28px;
    color: black;
}

.footer {
    font-size: 16px;
    font-family: 'Righteous-Regular';
    font-style: italic;
    color: red;
    margin: auto;
    width: 100%;
    text-align: center;
    padding-top: 12px;
}

a {
    color: black;
    text-decoration: none;
}

input {
    margin-left: 24%;
}

label {
    color: red;
}

#timeout-hint {
    font-size: 14px;
    font-family: 'Righteous-Regular';
    font-style: italic;
    color: black;
    text-align: center;
    margin: auto;
    width: 100%;
    padding-left: 52px;
}

#timeout-select-label {
    padding-left: 52px;
}

button:hover {
    color: red;
    background-color: black;
}